@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap')

 html, body {
 margin-left:auto; font-family: 'Protest Revolution', sans-serif;
 margin-right:auto; max-width: 8000pt; min-width: 192pt;
 padding-top: 6pt;
 padding-bottom: 18pt;
 padding-left: 18pt;
 padding-right:18pt;
 }
